<html>

<head>
    <title>Lessons online store</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="products.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="manifest" href="lesson.webmanifest">
    <style>
        .product {
            border: 1px red;
            padding: 20px;
            margin: 20px;
            text-align: center;
        }
    </style>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js');
        };
    </script>
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>
        <main>
            <div v-if='showProduct'>
                <lesson-component :cart="cart" v-on:add-to-cart="addToCart"></lesson-component>
            </div>
            <div v-else>
                <cart-component :cart="cart" v-on:remove="removeFromCart"></cart-component>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        const LessonComponent = {
            template:
                `<div>
                <div class='product' v-for="product in products">
                    <h2 v-text="product.title"></h2>
                    <figure>
                        <img v-bind:src="product.image" class="product-img">
                    </figure>
                    <p v-html="product.description"></p>
                    <p>Price: {{product.price}}</p>
                    <p>Available stock: {{product.availableInventory-cartCount(product.id)}}</p>

                    <button v-on:click='childAddToCart(product)' v-if='canAddToCart(product)'>Add to cart</button>

                    <button disabled="disabled" v-else>Add to cart</button>

                    <span v-if='product.availableInventory === cartCount(product.id)'>All out!</span>
                    <span v-else-if="product.availableInventory - cartCount(product.id) < 5">
                        Only {{product.availableInventory - cartCount(product.id)}} left!
                    </span>
                </div>
                </div>`,
            props: ['cart'],
            data() {
                return {
                    products: products
                }
            },
            methods: {
                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product.id);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i].id === id) {
                            count++;
                        }
                    }
                    return count;
                },
                childAddToCart(product) {
                    this.$emit("add-to-cart", product);
                }
            }
        }

        const CartComponent = {
            template:
                `<div>
                <h1>Cart and checkout</h1>
                <div class='product' v-for="product in cart">
                    <h2 v-text="product.title"></h2>
                    <figure>
                        <img v-bind:src="product.image" class="product-img">
                    </figure>
                    <p>Price: {{product.price}}</p>
                    <button v-on:click="childRemoveFromCart(product.id)">Remove</button>
                </div>
                <h1>Checkout Details</h1>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Full Name" v-model="order.name"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" placeholder="Phone Number"
                                v-model="order.phoneNumber" required>
                            <button type="submit" class="btn btn-success mt-1 mb-3 float-right"
                                v-if="order.name && order.phoneNumber" @click="checkout">Checkout</button>
                        </div>
                    </form>
                </div>
                </div>`,
            props: ['cart'],
            data() {
                return {
                    order: {
                        name: "",
                        phoneNumber: ""
                    },
                }
            },
            methods: {
                childRemoveFromCart(id) {
                    this.$emit("remove", id)
                },
                checkout() {
                    alert("Order placed successfully!");
                }
            }
        }

        var webstore = new Vue({
            el: '#app',
            components: { 'lesson-component': LessonComponent, 'cart-component': CartComponent },
            data() {
                return {
                    sitename: 'Lesson online store',
                    products: products,
                    cart: [],
                    showProduct: true
                }
            },
            methods: {
                addToCart(product) {
                    this.cart.push(product);
                },
                showCheckout() {
                    this.showProduct = !this.showProduct;
                },
                removeFromCart(id) {
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i].id === id) {
                            this.cart.splice(i, 1);
                            break;
                        }
                    }
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length;
                }
            },
        });
    </script>
</body>

</html>